@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
}

.background span {
    width: 2vmin;
    height: 2vmin;
    border-radius: 2vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 32;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ffcb05;
    top: 30%;
    left: 45%;
    animation-duration: 91s;
    animation-delay: -60s;
    transform-origin: 3vw 14vh;
    box-shadow: -4vmin 0 1.1177581331178554vmin currentColor;
}
.background span:nth-child(1) {
    color: #00274c;
    top: 5%;
    left: 80%;
    animation-duration: 14s;
    animation-delay: -131s;
    transform-origin: -9vw -16vh;
    box-shadow: -4vmin 0 0.9851858753746872vmin currentColor;
}
.background span:nth-child(2) {
    color: #00274c;
    top: 12%;
    left: 60%;
    animation-duration: 23s;
    animation-delay: -93s;
    transform-origin: 6vw -20vh;
    box-shadow: 4vmin 0 1.4559888241594157vmin currentColor;
}
.background span:nth-child(3) {
    color: #00274c;
    top: 25%;
    left: 14%;
    animation-duration: 177s;
    animation-delay: -141s;
    transform-origin: -23vw -13vh;
    box-shadow: -4vmin 0 1.0576822447856757vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffcb05;
    top: 30%;
    left: 97%;
    animation-duration: 22s;
    animation-delay: -41s;
    transform-origin: -4vw 23vh;
    box-shadow: 4vmin 0 1.4008741450396227vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffcb05;
    top: 98%;
    left: 87%;
    animation-duration: 8s;
    animation-delay: -82s;
    transform-origin: -10vw -24vh;
    box-shadow: 4vmin 0 1.0061496242470127vmin currentColor;
}
.background span:nth-child(6) {
    color: #00274c;
    top: 20%;
    left: 90%;
    animation-duration: 63s;
    animation-delay: -120s;
    transform-origin: -6vw -22vh;
    box-shadow: 4vmin 0 0.7717745404481817vmin currentColor;
}
.background span:nth-child(7) {
    color: #00274c;
    top: 50%;
    left: 89%;
    animation-duration: 26s;
    animation-delay: -61s;
    transform-origin: -3vw -3vh;
    box-shadow: -4vmin 0 0.5796802154197507vmin currentColor;
}
.background span:nth-child(8) {
    color: #00274c;
    top: 61%;
    left: 7%;
    animation-duration: 165s;
    animation-delay: -6s;
    transform-origin: -3vw -21vh;
    box-shadow: -4vmin 0 1.20138010765636vmin currentColor;
}
.background span:nth-child(9) {
    color: #00274c;
    top: 70%;
    left: 31%;
    animation-duration: 101s;
    animation-delay: -170s;
    transform-origin: 1vw 17vh;
    box-shadow: 4vmin 0 0.8121198538988808vmin currentColor;
}
.background span:nth-child(10) {
    color: #ffcb05;
    top: 98%;
    left: 22%;
    animation-duration: 180s;
    animation-delay: -167s;
    transform-origin: -16vw 4vh;
    box-shadow: -4vmin 0 0.9006070934237671vmin currentColor;
}
.background span:nth-child(11) {
    color: #00274c;
    top: 65%;
    left: 45%;
    animation-duration: 135s;
    animation-delay: -40s;
    transform-origin: 15vw -19vh;
    box-shadow: -4vmin 0 0.9070634614534767vmin currentColor;
}
.background span:nth-child(12) {
    color: #ffcb05;
    top: 1%;
    left: 83%;
    animation-duration: 62s;
    animation-delay: -95s;
    transform-origin: 18vw -11vh;
    box-shadow: 4vmin 0 0.9328175712990456vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffcb05;
    top: 7%;
    left: 52%;
    animation-duration: 70s;
    animation-delay: -169s;
    transform-origin: -13vw 0vh;
    box-shadow: 4vmin 0 1.231484410734079vmin currentColor;
}
.background span:nth-child(14) {
    color: #00274c;
    top: 80%;
    left: 11%;
    animation-duration: 10s;
    animation-delay: -127s;
    transform-origin: -24vw 7vh;
    box-shadow: -4vmin 0 1.3377651519857836vmin currentColor;
}
.background span:nth-child(15) {
    color: #00274c;
    top: 92%;
    left: 57%;
    animation-duration: 39s;
    animation-delay: -96s;
    transform-origin: -12vw -2vh;
    box-shadow: -4vmin 0 1.2405556395097403vmin currentColor;
}
.background span:nth-child(16) {
    color: #ffcb05;
    top: 7%;
    left: 24%;
    animation-duration: 30s;
    animation-delay: -71s;
    transform-origin: 5vw -1vh;
    box-shadow: 4vmin 0 0.7139094890376083vmin currentColor;
}
.background span:nth-child(17) {
    color: #ffcb05;
    top: 54%;
    left: 29%;
    animation-duration: 101s;
    animation-delay: -20s;
    transform-origin: 6vw -6vh;
    box-shadow: -4vmin 0 1.4900386613993353vmin currentColor;
}
.background span:nth-child(18) {
    color: #ffcb05;
    top: 21%;
    left: 18%;
    animation-duration: 96s;
    animation-delay: -73s;
    transform-origin: -5vw 1vh;
    box-shadow: 4vmin 0 0.5981825554441926vmin currentColor;
}
.background span:nth-child(19) {
    color: #00274c;
    top: 63%;
    left: 76%;
    animation-duration: 146s;
    animation-delay: -174s;
    transform-origin: 3vw -11vh;
    box-shadow: -4vmin 0 1.2460651930619355vmin currentColor;
}
.background span:nth-child(20) {
    color: #ffcb05;
    top: 46%;
    left: 98%;
    animation-duration: 127s;
    animation-delay: -135s;
    transform-origin: 24vw 7vh;
    box-shadow: 4vmin 0 0.8207945850281526vmin currentColor;
}
.background span:nth-child(21) {
    color: #ffcb05;
    top: 71%;
    left: 89%;
    animation-duration: 169s;
    animation-delay: -96s;
    transform-origin: -7vw -10vh;
    box-shadow: 4vmin 0 1.0164390310919724vmin currentColor;
}
.background span:nth-child(22) {
    color: #ffcb05;
    top: 28%;
    left: 29%;
    animation-duration: 137s;
    animation-delay: -107s;
    transform-origin: 1vw 17vh;
    box-shadow: 4vmin 0 1.139613266552911vmin currentColor;
}
.background span:nth-child(23) {
    color: #00274c;
    top: 43%;
    left: 36%;
    animation-duration: 87s;
    animation-delay: -89s;
    transform-origin: 20vw -15vh;
    box-shadow: -4vmin 0 0.5949661473951933vmin currentColor;
}
