body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  position: relative; /* Ensure body has relative positioning */
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0; /* Ensure background is behind other elements */
}

header {
  text-align: center;
  padding: 50px 20px;
  color: white;
  z-index: 1; /* Ensure header is above the background */
  position: absolute; /* Positioning header over the background */
  top: 20%;
  width: 100%;
}

#under-construction {
  text-align: center;
  padding: 20px;
  margin: 50px auto;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1; /* Ensure section is above the background */
  position: relative; /* Make z-index work */
}

h1, h2 {
  font-weight: normal;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}
